body {
  background-image: url("../assets/background.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: none;
  opacity: 0.8;
}

.App {
  text-align: center;
  padding: 5%;
}

.right-button {
  cursor: pointer;
}

.list-item {
  display: inline-block;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.hero-name {
  font-weight: bold;
}

.hero-stats {
  font-weight: lighter;
}